<div id="epiceditor"></div>

<!-- <script src="{{ base_url }}/plugins/pico_edit/top_up-1.7.2/top_up-min.js"></script> -->
<script src="{{ base_url }}/plugins/pico_edit/libs/epiceditor/js/epiceditor.min.js"></script>
<link rel="stylesheet" href="{{ base_url }}/plugins/pico_edit/styles/editor-simplemde.css" type="text/css" />

<script>
  $(document).ready(function () {
    var unsaved = false;
    var editor = new EpicEditor({
      container: 'epiceditor',
      basePath: '{{ base_url }}/plugins/pico_edit/libs/epiceditor',
      clientSideStorage: false,
      useNativeFullscreen: false,
      file: {
        name: 'epiceditor',
        defaultContent: '',
        autoSave: 6000
      },
      theme: {
        base: '{{ base_url }}/plugins/pico_edit/libs/epiceditor/themes/base/epiceditor.css',
        preview: '{{ base_url }}/plugins/pico_edit/libs/epiceditor/themes/preview/github.css',
        editor: '{{ base_url }}/plugins/pico_edit/libs/epiceditor/themes/editor/epic-light.css'
      },
      button: {
        preview: true,
        fullscreen: false,
        bar: true
      },
      focusOnLoad: true
    }).load();

    var PicoEditEditor = {
      onDeletePost: (fileUrl, data) => {
        $('#epiceditor').data('currentFile', '');
        editor.importFile('epiceditor', '');
      },
      onNewPost: (fileUrl, data) => {
        $('#epiceditor').data('currentFile', data.file);
        editor.importFile('epiceditor', data.content);
      },
      onOpenPost: (fileUrl, content) => {
        $('#epiceditor').data('currentFile', fileUrl);
        editor.importFile('epiceditor', content);
      },
      value: value => (value ? editor.importFile('epiceditor', value) : editor.exportFile())
    }

    $(editor.getElement('editor')).on('keyup', function () {
      if (!unsaved) {
        unsaved = true;
        document.title += ' *';
      }
    });

    // Save post
    editor.on('autosave', function () {
      $('#saving').text('Saving...').addClass('active');
      $.post('{{ pico_edit_url }}/save', { file: $('#epiceditor').data('currentFile'), content: editor.exportFile() }, function (data) {
        $('#saving').text('Saved');
        unsaved = false;
        document.title = document.title.replace(' *', '');
        setTimeout(function () {
          $('#saving').removeClass('active');
        }, 1000);
      });
    });

    // Save on preview
    editor.on('preview', function () {
      editor.emit('autosave');
    });

    // Window resize
    $('body,#main,#epiceditor').height($(window).height());
    $(window).resize(function () {
      $('body,#main,#epiceditor').height($(window).height());
      editor.reflow();
    });

  });

</script>