<div class="simplemde-container">
  <textarea id="simplemde"></textarea>
</div>

<script src="{{ base_url }}/plugins/pico_edit/libs/simplemde-markdown-editor/simplemde.min.js"></script>
<link rel="stylesheet" href="{{ base_url }}/plugins/pico_edit/libs/simplemde-markdown-editor/simplemde.min.css">

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("simplemde"),
    spellChecker: false,
    shortcuts: {
      "toggleBlockquote": null,
      "toggleBold": null,
      "cleanBlock": null,
      "toggleHeadingSmaller": null,
      "toggleItalic": null,
      "drawLink": null,
      "toggleUnorderedList": null,
      "togglePreview": null,
      "toggleCodeBlock": null,
      "drawImage": null,
      "toggleOrderedList": null,
      "toggleHeadingBigger": null,
      "toggleSideBySide": null,
      "toggleFullScreen": null
    }
  });

  var PicoEditEditor = {
    onDeletePost: (fileUrl, data) => {
      simplemde.value('');
    },
    onNewPost: (fileUrl, data) => {
      simplemde.value(data.content);
    },
    onOpenPost: (fileUrl, content) => {
      simplemde.value(content);
    },
    value: value => simplemde.value(value)
  }

  // TODO: Autosave

</script>

<style>
  .simplemde-container {
    padding: 1em 1em 1em calc(250px + 1em);
  }
  
  .CodeMirror {
    min-height: 100px;
    height: calc(100vh - 170px);
  }
  
  #main {
    z-index: 0;
  }
</style>