<div class="file-manager">
  <div class="file-manager-inner-border">
    <div class="file-manager-inner">
      <table>
        <tbody class="files">
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
  .file-manager.show {
    display: block;
  }
  
  .file-manager {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.59);
    box-sizing: border-box;
    padding: 1em;
  }
  
  .file-manager .file-manager-inner-border {
    margin: auto;
    max-width: 1000px;
    background: #fff7f3;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
  }
  .file-manager .file-manager-inner{
    overflow: auto;
    max-height: calc( 100vh - 5em);
  }
</style>